<!DOCTYPE html>
<html lang="en" class="text-gray-800 antialiased leading-tight">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Reflect</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
  </head>
  <body class="container mx-auto mt-6">
    <header class="mx-6">
      <section class="flex justify-between">
        <%= if @is_admin do %>
          <nav role="navigation" class="main flex">
            <ul class="flex flex-no-wrap items-end">
              <li> 
                <%= link "Users",
                  to: Routes.admin_user_path(@conn, :index) %>
              </li>
              <li class="pl-1">
                <%= link "Courses",
                  to: Routes.admin_course_path(@conn, :index) %>
              </li>
            </ul>
          </nav>
        <% end %>
        <nav role="navigation" class="flex text-right">
          <ul>
            <%= if @current_user do %>
              <li><%= first_name(@current_user) %></li>
              <li>
                <%= link "View Profile",
                    to: Routes.user_path(@conn, :show, @current_user.id) %>
              </li>
             <li>
                <%= link "Log out", 
                    to: Routes.session_path(@conn, :delete, @current_user), 
                    method: "delete" %>
              </li>
            <% else %>
              <li>
                <%= link "Log in",
                  to: Routes.session_path(@conn, :new) %>
              </li>
              <li>
                <%= link "Register",
                  to: Routes.user_path(@conn, :new) %>
              </li>
            <% end %>
          </ul>
        </nav>
      </section>
    </header>
    <main role="main" class="mx-6 mt-6">
      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
      <%= render @view_module, @view_template, assigns %>
    </main>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
